XML/bands2-visualstudio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="zespoly">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="zespol">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="zdjecie">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="img">
                      <xs:complexType>
                        <xs:attribute name="src" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="link">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="a">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="href" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="czlonek">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="imie" type="xs:string" />
                    <xs:element name="nazwisko" type="xs:string" />
                    <xs:element minOccurs="0" name="pseudonim" type="xs:string" />
                    <xs:element name="data_urodzenia" type="xs:date" />
                    <xs:element name="miejsce_urodzenia">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="kraj" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="instrumenty" type="xs:string" />
                    <xs:element minOccurs="0" name="typy_glosu">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="typ_glosu" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="gatunki">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="gatunek" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="aktywny_od" type="xs:unsignedShort" />
                  </xs:sequence>
                  <xs:attribute name="nazwa" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="nazwa" type="xs:string" use="required" />
            <xs:attribute name="gatunek" type="xs:string" use="required" />
            <xs:attribute name="kraj" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>